body {
  margin: 0;
  padding: 0;
  background-image: url('../public/back.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffdb96;
  border-radius: 10px;
  box-shadow: 0 4px 10px #ed916b;
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.input-section input,
.input-section textarea {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  resize: vertical;
}

.input-section button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  background-color: #fefefe;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 10px rgb(143, 126, 85);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.task-content {
  text-align: left;
  flex: 1;
  margin-right: 10px;
}

.task-item h3 {
  margin: 0 0 5px;
}

.task-item pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-buttons button {
  background-color: #b8f08e;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-buttons button:hover {
  background-color: #a0db70; 
}

.task-buttons button:last-child {
  background-color: #e74c3c;
  color: aliceblue !important;
}

.task-buttons button:last-child:hover {
  background-color: #c0392b; 
}

.task-item.done {
  opacity: 0.6;
}

.task-item.done .task-content h3,
.task-item.done .task-content pre {
  text-decoration: line-through;
}
