body {
  margin: 0;
  padding: 0;
  background-image: url('/Users/spic/Desktop/fse/simple-todo/public/back.png'); /* use your image file name */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  font-family: sans-serif;
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.input-section input,
.input-section textarea {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  resize: vertical;
}

.input-section button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ed916b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task-content {
  text-align: left;
  flex: 1;
  margin-right: 10px;
}

.task-item h3 {
  margin: 0 0 5px;
}

.task-item pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.task-item button {
  background-color: #785a51;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
